<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-wysiwyg/0.3.3/bootstrap3-wysihtml5.min.css" >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-wysiwyg/0.3.3/bootstrap3-wysihtml5.all.min.js"></script>

    <style type="text/css">
        .new-form {
            width: 700px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <span class="navbar-text">Stack overflow</span>
    <ul class="nav navbar-nav">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
    </ul>
</nav>

<div class="container">
    <form class="new-form" th:action="@{/questions/add}" method="post">
        <div class="form-group">
            <label for="title">Question title</label>
            <input type="text" class="form-control" id="title" placeholder="Title" name="title">
        </div>
        <div class="form-group">
            <label for="tags">Tags</label>
            <input type="text" class="form-control" id="tags" placeholder="Tags" name="tags" data-role="tagsinput">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" rows="5" name="description" id="description" placeholder="Description"></textarea>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<footer class="container-fluid bg-4 text-center">
    <p>Learning project.</p>
</footer>

<script type="text/javascript">
    $('textarea').wysihtml5();
</script>


</body>
</html>