<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <nav class="navbar navbar-inverse" th:fragment="header">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{${T(com.elazarev.Paths).PATH_QUESTIONS_ALL}}">Stackoverflow (Simple)</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{${T(com.elazarev.Paths).PATH_QUESTIONS_ALL}}">All questions</a></li>
                    <li><a th:href="@{${T(com.elazarev.Paths).PATH_MY_FEED}}" sec:authorize="isAuthenticated()" >My feed</a></li>
                    <li><a th:href="@{${T(com.elazarev.Paths).PATH_TAGS_ALL}}">Tags</a></li>
                    <li><a th:href="@{${T(com.elazarev.Paths).PATH_USERS_ALL}}">Users</a></li>
                </ul>

                <form class="navbar-form navbar-left" th:action="@{${T(com.elazarev.Paths).PATH_QUESTIONS_SEARCH}}" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" name="searchText">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-default" th:href="@{${T(com.elazarev.Paths).PATH_QUESTIONS_ADD}}" role="button">New question</a></li>
                    <li><a th:href="@{${T(com.elazarev.Paths).PATH_LOGIN}}" sec:authorize="!isAuthenticated()" >Sign in</a></li>
                    <li><a th:href="@{${T(com.elazarev.Paths).PATH_REGISTER}}" sec:authorize="!isAuthenticated()">Register</a></li>
                    <li class="dropdown" sec:authorize="isAuthenticated()">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{${T(com.elazarev.Paths).PATH_MY_PROFILE}}" sec:authorize="isAuthenticated()" >My profile</a></li>
                            <li>
                                <form role="form" method="post" th:action="@{${T(com.elazarev.Paths).PATH_LOGOUT}}">
                                    <button type="submit" class="btn btn-link">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <footer class="navbar navbar-inverse navbar-bottom" th:fragment="footer">
        <p>Learning project.</p>
    </footer>

</body>
</html>